* {
    font-size: 15px;
    border-radius: 0px;
}

window#waybar {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, monospace;
    background-color: #282828;
    color: #fbf1c7;
	  border-bottom: 2px solid #fbf1c7;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

.modules-right {
	margin-bottom: 2px;
	margin-top: 2px;
}
.modules-center {
	margin-bottom: 2px;
	margin-top: 2px;
}
.modules-left {
	margin-bottom: 2px;
	margin-top: 2px;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
} */

#workspaces {
    background-color: #282828 ;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #fbf1c7;
    border-radius: 0;
}


#workspaces button:hover {
    color: #d79921;
}

#workspaces button.active {
  background: #fbf1c7;
  color: #282828;
  border-color: transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
    background-color: #b16286;
}

#idle_inhibitor,
#cava,
#scratchpad,
#mode,
#custom-launcher,
#clock,
#langauge,
#battery,
#backlight,
#wireplumber,
#tray,
#mpris,
#load {
	    padding: 0 10px;
    background-color: #282828 ;
    color: #fbf1c7;
	  margin-right: 10;

}
#custom-mark {
    padding: 0 10px;
    color: #ffffff;
}


#mode {
    background-color: #689d6a;
    color: #282828;
    /* box-shadow: inset 0 -3px #ffffff; */
}
#window{
	color: #d79921;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	    margin-right: 0;
}



#battery.charging, #battery.plugged {
    background-color: #98971a;
    color: #282828;
}

@keyframes blink {
    to {
        background-color: #282828;
        color: #ebdbb2;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */


label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    background-color: #458588;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#mpris.playing {
    background-color: #d79921;
    color: #282828;
}

#tray menu {
    font-family: sans-serif;
}


